body {
  margin: 0;
  font-family: Verdana, Helvetica, sans-serif, Arial;
  background-color: #121212;
  background-image: url(ScreenShot52.png);
  background-size: cover;
  color: white;
  text-align: center;
}

img {
  width: 30rem;
  height: 20rem;
  object-fit: cover;
}

.container {
  padding: 2.5rem;
  margin: auto;
}

h1 {
  font-size: 4.5rem;
  margin-bottom: 0.625rem;
}

h2 {
  color: #aaaaaa;
  font-weight: normal;
}

p {
  line-height: 1.6;
  font-size: 1.125rem;
  color: white;
  -webkit-text-stroke: 0.625rem black;
  -webkit-text-fill-color: white;
}

.card {
  background: #1e1e1e;
  padding: 1.5rem;
  margin: 1.25rem 0;
  border-radius: 0.625rem;
}

h1, h2, h3 {
  color: white; 
  -webkit-text-stroke: 0.12rem black;
  -webkit-text-fill-color: white;
}
#aboutme {
  background: rgba(0, 0, 0, 0.5);
  padding: 1.25rem 2.5rem;
  margin: 2.5rem auto;
  max-width: 56rem;
  border-radius: 0.625rem;
  text-align: left;
  color: black;
}

#aboutme h2, #projects h2 {
  margin-bottom: 1.25rem;
  -webkit-text-stroke: 0;
  -webkit-text-fill-color: white;
}

#aboutme p, #projects p {
  color: white;
  -webkit-text-stroke: 0;
  -webkit-text-fill-color: white;
}

#projects {
  background: rgba(0, 0, 0, 0.5);
  padding: 1.25rem 2.5rem;
  margin: 2.5rem auto;
  width: 85%;
  border-radius: 0.625rem;
  text-align: left;
  color: black;
  
}
  
